@model IEnumerable<ProyectoRRHH.Models.Licencia>

@{
    ViewData["Title"] = "Licencias";
}

<h1>Lista de licencias</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Crear nueva solicitud de licencia</a>
</p>

@if (User.IsInRole("Administrador"))

{
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar por Apellido" value="@ViewData["buscar"]" />
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                ESTADO
            </th>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroFechaIni"]">
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </a>
            </th>
            <th>
                Cantidad de días
            </th>
            <th>
                Nombre completo
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.Aprobado == true)
                {
                        <span>AUTORIZADO</span>
                }
                else if(item.Aprobado == false)
                {
                        <span>NO AUTORIZADO</span>
                }
                else
                {
                        <span>PENDIENTE</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantDias)
            </td>
            <td>
                @if(item.Usuario.NombreCompleto != null)
                {
                        
                }
                @Html.DisplayFor(modelItem => (item.Usuario.NombreCompleto))
            </td>
            <td>
                @if(User.IsInRole("Administrador"))
                {
                    @if(item.Aprobado == null)
                    {
                        <a asp-action="SetAprobadoTrue" asp-route-id="@item.Id" class="btn btn-success">Aprobar</a>
                        <a asp-action="SetAprobadoFalse" asp-route-id="@item.Id" class="btn btn-secondary">Rechazar</a>
                    }
                    else
                    {
                        <a asp-action="RevertAprobado" asp-route-id="@item.Id" class="btn btn-info">Revertir</a>
                    }
                }
            </td>
            <td>
                @if(User.IsInRole("Administrador"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <span> | </span>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>       
                }
            </td>
        </tr>
}
    </tbody>
</table>
