@model IEnumerable<ProyectoRRHH.Models.Licencia>

@{
    ViewData["Title"] = "Licencias";
}

<h1>Lista de Licencias</h1>

@if (User.IsInRole("Administrador"))

{
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar por nombre o apellido" value="@ViewData["buscar"]" />
        </div>
        <div class="d-flex mt-3 gap-5">
            <button type="submit" class="btn btn-primary w-50">Buscar</button>
            <a class="btn btn-success w-50" asp-action="Create">Crear nueva solicitud de licencia</a>
        </div>
    </form>
}

@if (User.IsInRole("Empleado"))

{
    <div class="d-flex mt-3 gap-5">
        <a class="btn btn-success w-100" asp-action="Create">Crear nueva solicitud de licencia</a>
    </div>
}

<table class="table mt-3 table-striped table-hover w-100">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroEstado"]">
                    ESTADO
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroFechaIni"]">
                    Fecha de inicio
                </a>
            </th>
            <th>
                Cantidad de días
            </th>
            @if(User.IsInRole("Administrador"))
            {
                <th>
                    <a asp-action="Index" asp-route-filtro="@ViewData["FiltroNombre"]">
                        Nombre completo
                    </a>
                </th>
            }
            <th>
                @if(User.IsInRole("Administrador"))
                {
                    @Html.Raw("Acciones")
                }
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.Aprobado == true)
                {
                        <span>AUTORIZADO</span>
                }
                else if(item.Aprobado == false)
                {
                        <span>NO AUTORIZADO</span>
                }
                else
                {
                        <span>PENDIENTE</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantDias)
            </td>
            @if(User.IsInRole("Administrador"))
            {
                <td>
                    @Html.DisplayFor(modelItem => (item.Usuario.NombreCompleto))
                </td>
            }
            <td>
                @if(User.IsInRole("Administrador"))
                {
                    @if(item.Aprobado == null)
                    {
                        <a asp-action="SetAprobadoTrue" asp-route-id="@item.Id" class="btn btn-success">Aprobar</a>
                        <a asp-action="SetAprobadoFalse" asp-route-id="@item.Id" class="btn btn-danger">Rechazar</a>
                    }
                    else
                    {
                        <a asp-action="RevertAprobado" asp-route-id="@item.Id" class="btn btn-secondary">Revertir</a>
                    }
                }
            </td>
                <td class="align-items-center">
                @if(User.IsInRole("Administrador"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger mt-3">Volver atrás</a>