@model IEnumerable<ProyectoRRHH.Models.ReciboSueldo>

@{
    ViewData["Title"] = "Index";
}

<h1>Recibos de Sueldo</h1>

@if (User.IsInRole("Administrador"))

{
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar por DNI" value="@ViewData["buscar"]" />
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Buscar</button>
    </form>

}

<table class="table table-striped table-hover w-100">
    <thead>
        <tr>
            <th>
                @if (User.IsInRole("Administrador")) // Solo el Administrador puede ordenar

                {
                    <a asp-action="Index" asp-route-filtro="@ViewData["FiltroDni"]">
                        @Html.DisplayNameFor(model => model.UsuarioDni)
                    </a>
                }

                else

                {
                    <span>@Html.DisplayNameFor(model => model.UsuarioDni)</span>
                    // Empleado no puede ordenar

                }
            </th>
            <th>Fecha de Cobro</th>
            <th>Sueldo Bruto</th>
            <th>Descuento Jubilación</th>
            <th>Descuento Obra Social</th>
            <th>Descuento Ley 19032</th>
            <th>Total Descuentos</th>
            <th>Sueldo Neto</th>
            @if (User.IsInRole("Empleado"))
            {
                <th>Firma</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var recibo in Model)

        {
            <tr>
                <td>@recibo.UsuarioDni.ToString()</td>
                <td>@recibo.FechaCobro.ToShortDateString()</td>
                <td>@recibo.SueldoBruto.ToString("C")</td>
                <td>@recibo.Jubilacion.ToString("C")</td>
                <td>@recibo.ObraSocial.ToString("C")</td>
                <td>@recibo.Ley19032.ToString("C")</td>
                <td>
                    @((recibo.Jubilacion + recibo.ObraSocial + recibo.Ley19032).ToString("C"))
                </td>
                <td>@recibo.SueldoNeto.ToString("C")</td>
                @if (User.IsInRole("Empleado") && !recibo.Firmado)

                {
                    <td>
                        <form asp-action="Firmar" method="post">
                            <input type="hidden" name="id" value="@recibo.Id" />
                            <button type="submit" class="btn btn-primary">Firmar Recibo</button>
                        </form>
                    </td>
                }
                else if (recibo.Firmado)
                {
                <td>Firmado</td>
                }
            </tr>
        }
    </tbody>
</table>

<a asp-controller="ReciboSueldo" asp-action="Create" class="btn btn-outline-danger mt-3">Volver atrás</a>