@model IEnumerable<ProyectoRRHH.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Usuarios</h1>

<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="buscar" class="form-control" placeholder="Buscar por apellido o DNI" value="@ViewData["buscar"]" />
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-3 mb-5">Buscar</button>
</form>

<table class="table table-striped table-hover w-100">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroDni"]">
                    @Html.DisplayNameFor(model => model.Dni)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroApellido"]">
                    @Html.DisplayNameFor(model => model.Apellido)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroFechaNac"]">
                    Fecha de nacimiento
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroFechaIng"]">
                    Fecha de ingreso
                </a>
            </th>
            <th>
                Teléfono
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Dni" class="btn btn-success">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Nombre" class="btn btn-secondary">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Nombre" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-secondary">Volver Atrás</a>
</p>